.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.display-group{
  background: #FFFFFF;
  text-align: center;
}
.display-group ul{
  display: inline-flex;
  list-style: none;
 
}
display-group ul li{
  width: 183px;
  margin: 150px;
  padding: 15px;
}


.nav-bar{
  background: linear-gradient(91.07deg, #3FC79E -17.87%, #01C2F3 173.09%);
}
.drop-down{
  background-color: #FFFFFF;
  margin-right:15px ;
  width: 183px;
}
#dropdown-basic{
  
}
.search-box{
  position: absolute;
width: 690px;
height: 40px;
left: 357px;
top: 12px;

}
.basic-nav-dropdown{
  
  
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #FFFFFF;
  
}